@model CMSComponentQuerySPARQL
@if (Model != null)
{
    string nombre = "";
    string organismo = "";

    System.Data.DataRow fila = Model.DataSetResult.Tables[0].Rows[0];
    nombre = fila["nombrePersona"].ToString();
    organismo = fila["nombreOrg"].ToString();

    <aside id="menuLateralUsuarioClonado" class="menuLateral usuario clonado" role="navigation">
        <div class="header">
            <div class="wrap-header">
                <div class="usuarioWrapper">
                    <div class="nombre">
                        <span>@nombre</span> - <span> @organismo</span>


                    </div>
                </div>
                <span class="material-icons cerrar">close</span>
                <div class="cabeceraUsuario">
                    <div class="imagen-usuario" style="background-image: url('theme/resources/imagenes-pre/foto-usuario-2.jpg')">
                    </div>
                    <div class="nombre-usuario">
                        <p class="nombre">@nombre</p>
                        <p class="nombre-completo">
                            <span>@organismo</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="body">
            <div class="menuUsuario ">
                <div class="group-collapse trabajo">
                    <a href="#trabajo" data-toggle="collapse" aria-expanded="true">Trabajo</a>
                    <div id="trabajo" class="collapse show">
                        <ul class="pmd-sidebar-nav">
                            <li class="liPublicacion">
                                <a href="javascript: void(0);">Publicaciones</a>
                            </li>
                            <li class="liComentarios">
                                <a href="javascript: void(0);">Menciones</a>
                            </li>
                            <li class="liRos">
                                <a href="javascript: void(0);">ROs</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="group-collapse consultar">
                    <a href="#consultar" data-toggle="collapse" aria-expanded="true">Consultar</a>
                    <div id="consultar" class="collapse show">
                        <ul class="pmd-sidebar-nav">
                            <li class="liNotificaciones nuevos">
                                <a href="/alertas">Alertas</a>
                            </li>
                            <li class="liComentarios">
                                <a href="javascript:void(0);">Mi trayectoria personal</a>
                            </li>
                            <li class="liContactos">
                                <a href="javascript:void(0);">Espacio personal</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="group-collapse espacio">
                    <a href="#gestionar" data-toggle="collapse" aria-expanded="true">Gestionar</a>
                    <div id="gestionar" class="collapse show">
                        <ul class="pmd-sidebar-nav">
                            <li class="liContribuciones">
                                <a href="./edicionCV.php">Editar CV</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Importar CV</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Exportar CV</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Actividad Científica</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Convocatorias, solicitudes y proyectos</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Grupos de investigación</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Solicitudes de comisión de ética</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Propiedad industrial e intelectual</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Empresas de base tecnológica</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">Configurar cuenta</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </aside>
}
