@model CMSComponentHot
@if(Model != null)
{
    <div class="container">
        <div class="row px-2">
            <div class="col" >
                <div class="row px-2" >
                    <div class="col span13 break">
                        <div class="block">
                            <div class="grupo-top">
                                <div class="wrapCol grupo-personas">
                                    <h2 class="section-title">Top Investigadores</h2>
                                    <div class="resource-list usuarios con-borde">
                                        <article class="resource resource-grupo">
                                            <div class="user-miniatura">
                                                <div class="imagen-usuario-wrap">
                                                    <a href="#">
                                                        <div class="imagen sinImagen">
                                                            <span class="material-icons">person</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="nombre-usuario-wrap">
                                                    <a href="#">
                                                        <p class="nombre">Roberto Alvarado</p>
                                                        <p class="nombre-completo">Roberto Alvarado García · Equipo DIDACTALIA</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="resource resource-grupo">
                                            <div class="user-miniatura">
                                                <div class="imagen-usuario-wrap">
                                                    <a href="#">
                                                        <div class="imagen sinImagen">
                                                            <span class="material-icons">person</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="nombre-usuario-wrap">
                                                    <a href="#">
                                                        <p class="nombre">Tomás Torres</p>
                                                        <p class="nombre-completo">Tomás Torres García · Equipo GNOSS</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="resource resource-grupo">
                                            <div class="user-miniatura">
                                                <div class="imagen-usuario-wrap">
                                                    <a href="#">
                                                        <div class="imagen sinImagen">
                                                            <span class="material-icons">person</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="nombre-usuario-wrap">
                                                    <a href="#">
                                                        <p class="nombre">María Elena Alvarado</p>
                                                        <p class="nombre-completo">María Elena Alvarado · Equipo GNOSS</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                        <a href="./listadoGrupos.php" class="ver-mas ver-mas-icono con-icono-after">Ver todos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col span13 break" id="">
                        <div class="block" id="">
                            <div class="grupo-top">
                                <div class="wrapCol grupo-investigacion">
                                    <h2 class="section-title">Top Grupos de investigación</h2>
                                    <div class="resource-list con-borde">
                                        <article class="resource resource-grupo">
                                            <div class="user-miniatura">
                                                <div class="imagen-usuario-wrap">
                                                    <a href="#">
                                                        <div class="imagen sinImagen">
                                                            <span class="material-icons">business</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="nombre-usuario-wrap">
                                                    <a href="#">
                                                        <p class="nombre">Química biológica de péptidos y proteínas</p>
                                                        <p class="nombre-completo">Universidad de Murcia</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="resource investigacion resource-grupo">
                                            <div class="user-miniatura">
                                                <div class="imagen-usuario-wrap">
                                                    <a href="#">
                                                        <div class="imagen sinImagen">
                                                            <span class="material-icons">business</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="nombre-usuario-wrap">
                                                    <a href="#">
                                                        <p class="nombre">Bioprocesos aplicados a la Economía Circular</p>
                                                        <p class="nombre-completo">Universidad de Murcia</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="resource resource-grupo">
                                            <div class="user-miniatura">
                                                <div class="imagen-usuario-wrap">
                                                    <a href="#">
                                                        <div class="imagen sinImagen">
                                                            <span class="material-icons">business</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="nombre-usuario-wrap">
                                                    <a href="#">
                                                        <p class="nombre">Catalizadores Heterogéneos para Procesos Químicos Selectivos</p>
                                                        <p class="nombre-completo">Universidad de Murcia</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                        <a href="./listadoGrupos.php" class="ver-mas ver-mas-icono con-icono-after">Ver todos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col span13 break" id="">
                        <div class="block" id="">
                            <div class="grupo-top">
                                <div class="wrapCol grupo-proyectos">
                                    <h2 class="section-title">Top Proyectos</h2>
                                    <div class="resource-list proyectos con-borde">
                                        <article class="resource resource-grupo">
                                            <div class="user-miniatura">
                                                <div class="imagen-usuario-wrap">
                                                    <a href="#">
                                                        <div class="imagen sinImagen">
                                                            <span class="material-icons">work</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="nombre-usuario-wrap">
                                                    <a href="#">
                                                        <p class="nombre">Plastics fate and effects in the human body</p>
                                                        <p class="nombre-completo">Química biológica de péptidos y proteínas</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="resource resource-grupo">
                                            <div class="user-miniatura">
                                                <div class="imagen-usuario-wrap">
                                                    <a href="#">
                                                        <div class="imagen sinImagen">
                                                            <span class="material-icons">work</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="nombre-usuario-wrap">
                                                    <a href="#">
                                                        <p class="nombre">The Sugar Code: from (bio)chemical concept to clinics</p>
                                                        <p class="nombre-completo">Bioprocesos aplicados a la Economía Circular</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                        <article class="resource resource-grupo">
                                            <div class="user-miniatura">
                                                <div class="imagen-usuario-wrap">
                                                    <a href="#">
                                                        <div class="imagen sinImagen">
                                                            <span class="material-icons">work</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div class="nombre-usuario-wrap">
                                                    <a href="#">
                                                        <p class="nombre">Harmonisation of EU-wide nanomechanics protocols and relevant data exchange procedures, across representative cases</p>
                                                        <p class="nombre-completo">Universidad de La Rioja</p>
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                        <a href="#" class="ver-mas ver-mas-icono con-icono-after">Ver todos</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
      