@*[security|||shared/_pie.cshtml|||hercules]*@
@{
    UserProfileModel Perfil = Html.GetPerfil();
    CommunityModel Comunidad = Html.GetComunidad();
    string versionCSS = ViewBag.Version;
    if (Comunidad.VersionCSS.HasValue)
    {
        versionCSS += "-" + Comunidad.VersionCSS.Value.ToString();
    }
    string urlPersonalizacion = Html.GetBaseUrlContent() + "/imagenes/proyectos/personalizacion/" + Comunidad.Key.ToString();
}

<footer id="footer">
    @if (Comunidad != null)
    {
        <div class="container-fluid">
            <div class="row row01">
                <div class="col col-12 col-xl-6 logotipos">
                    <div>
                        <img src="@urlPersonalizacion/theme/resources/logotipos/logo-ministerio.jpg" alt="Ministerio de Ciencia e Innovacion">
                    </div>
                    <div>
                        <img src="@urlPersonalizacion/theme/resources/logotipos/logo-um.jpg" alt="Universidad de Murcia">
                    </div>
                </div>
                <div class="col col-12 col-xl-6 europa">
                    <div class="wrap">
                        <p class="titulo">@Html.Translate("ERDF_TITLE") <span>(@Html.Translate("ERDF"))</span></p>
                        <p>@Html.Translate("ERDF_DESCRIPTION")</p>
                    </div>
                    <div>
                        <img src="@urlPersonalizacion/theme/resources/logotipos/logo-ue.png" alt="Unión Europea">
                    </div>
                </div>
            </div>
            <div class="row row02">
                <div class="col col-12 col-xl-3 logo">
                    <p>
                        ©@DateTime.Now.Year.ToString()
                        <a>Hércules</a>
                        - @Html.Translate("COPYRIGHT")
                    </p>
                </div>
            </div>
        </div>
    }
</footer>
