<config>
	<apiEndpoint>http://apiedma-desa.um.es</apiEndpoint>
	<communityShortName>hercules</communityShortName>
	<ontologyName>Organization</ontologyName>
	<developerEmail>mariaortega@riam.es</developerEmail>
	<token>
		<tokenKey>TPzJlR9X2Ug1G69BOmC2QLBbKgxWM6sc</tokenKey>
		<tokenSecret>TPzJlR9X2Ujju4XVVP+iSbW5MK+ENMqY</tokenSecret>
	</token>
	<consumer>
		<consumerKey>8ZnHlR9X2UiyWVW0LodgSYrrD0M5XGvO</consumerKey>
		<consumerSecret>8ZnHlR9X2UjUkh335+ZyRaqMeGu7FuLm</consumerSecret>
	</consumer>
	<log>
		<logPath>c:\cargas\log</logPath>
		<logFileName>trace.log</logFileName>
		<logLevel>DEBUG</logLevel>
	</log>
</config>